@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Monsieur+La+Doulaise&display=swap');


body {
    --background-color: #EBE9E3;
    --white: #F5F5F5;
    --light-brown: #AD8C74;
    --dark-brown: #4F483F;
    --navy: #092E4C;
    --light-blue: #8596B4;
    --green: #807F5A;
    --dark-pink: #C98895;
    --light-pink: #E7C7C8;
    --gray: #C3C3C3;

    --cursive-font: "Monsieur La Doulaise", cursive;
    --times-font: "Times New Roman", Times, serif;
    --sans-serif-font: "Archivo", sans-serif;

    
}